html
	head
		title= 'Leaderboard'
		style
			include style.css
	body
		h1= 'Leaderboard'
		table
			td='NAME' 
			td='ID' 
			td='SCORE' 

			for person in personList
				tr
					td= person.name
					td
						a(href='/person/'+person.id) #{person.id}
					td= person.points
		

		form(method="post",action=form_action)
			p Name:
				input(type="text", name="name", placeholder="None")
			p ID: 
				input(type="number", name="id", placeholder=0)
			p Points: 
				input(type="number", name="points", placeholder=0)
			
			
				
			button(type="submit") search
			button(type="submit") delete
			button(type="submit") create